/* haha.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("gay.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000; /* fallback color */
}